@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
body {
    background: #132219;
    font-family: 'Lemon', serif;
}


h1 {
    font-size: 1.6em;
    text-align: center;
    padding: 70px 0 0 0;
    color: #32a5db;
    font-weight: 400;
    letter-spacing: 1.5px;
}


#container {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0 150px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #26946f;
    margin: 20px 20px 20px 20px;
    color: #ec6350;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.6px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


a {
    color: #ec6350;
    text-decoration: none;
    letter-spacing: 1px;
}


/* Button 1 */

#hover-plane {
    width: 38px;
    height: 18px;
    position: absolute;
    transform: translateX(60px);
    opacity: 0;
    -webkit-transition: all .25s cubic-bezier(.14, .59, 1, 1.01);
    transition: all .15s cubic-bezier(.14, .59, 1, 1.01);
    margin: 0;
    padding: 0 6px;
}

a#btn-1:hover img {
    width: 20px;
    opacity: 1;
    transform: translateX(50px);
}


/* Button 2 */

#btn-2 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#btn-2 a {
    position: relative;
    transition: all .45s ease-out;
}

#circle {
    width: 0%;
    height: 0%;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    background: #65c7c7;
    position: absolute;
    transition: all .5s ease-out;
    top: 20px;
    left: 70px;
}

#btn-2:hover #circle {
    width: 200%;
    height: 500%;
    opacity: 1;
    top: -70px;
    left: -70px;
}

#btn-2:hover a {
    color: #b11724;
}


/* Button 3 */

#btn-3 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#btn-3 a {
    position: relative;
    transition: all .45s ease-out;
}

#underline {
    width: 100%;
    height: 2.5px;
    margin-top: 15px;
    align-self: flex-end;
    left: -200px;
    background: #ec6350;
    position: absolute;
    transition: all .3s ease-out;
    bottom: 0;
}

#btn-3:hover #underline {
    left: 0;
}


/* Button 4 */

#btn-4 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#btn-4 a {
    position: relative;
    transition: all .45s ease-out;
}

#spin {
    width: 0;
    height: 0;
    opacity: 0;
    left: 70px;
    top: 20px;
    transform: rotate(0deg);
    background: none;
    position: absolute;
    transition: all .5s ease-out;
}

#btn-4:hover #spin {
    width: 200%;
    height: 500%;
    opacity: 1;
    left: -70px;
    top: -70px;
    background: #65c7c7;
    transform: rotate(80deg);
}

#btn-4:hover a {
    color: #b11724;
}


/* Button 5 */

#btn-5 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#btn-5 a {
    position: relative;
    left: 0;
    transition: all .35s ease-out;
}

#hover-arrow {
    width: 100%;
    height: 100%;
    background: #65c7c7;
    left: -200px;
    position: absolute;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease-out;
    bottom: 0;
}

#btn-5 img {
    width: 32px;
    height: auto;
}

#btn-5:hover #hover-arrow {
    left: 0;
}

#btn-5:hover a {
    left: 150px;
}

@media screen and (min-width:1000px) {
    h1 {
        font-size: 2.5em;
    }
    #container {
        width: 50%;
    }
}